.navbar {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    padding: 15px 50px;
    

    .dropdown-menu{
        background-color: $color-Tercero;
        border-radius: 0;
        border: none;
        padding: 0;
        margin: 0;
        width: 100%;
        transition: all 0.3s ease-in-out;
        list-style-type: none;
        gap: 20px;
        .dropdown-item{
            color: $color-secundario;
            text-decoration: none;
            padding: 7px 15px;
            transition: all 0.3s ease-in-out;
            &:hover {
                color: $color-primario;
                border-bottom: 4px $color-secundario;
                transition: 0.5s;
        }
        }
    }

    .nav-pills {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
        transition: all 0.3s ease-in-out;
        list-style-type: none;
        gap: 20px;

        .nav-item {
            display: flex;
            list-style-type: none;
            align-items: center;
            justify-content: center;

            .nav-link {
                color: $color-primario;
                text-decoration: none;
                padding: 7px 15px;
                transition: all 0.3s ease-in-out;

                &:hover {
                    color: $color-secundario;
                    border-bottom: 4px $color-secundario;
                    transition: 0.5s;
                }

                &:hide {
                    top: 70px;
                }

            }
        }
    }
}