$color-primario:#2fac66;
$color-secundario: #FCEA10;
$color-tercero:#1D1D1B;
$color-texto: white;

$fuente-normal: 1em;
$fuente-pequena: 0.8em;
$fuente-grande: 1.4em;

$tipografia-general: "Expansiva", sans-serif;
$tipografia-alternativa: "RigorMortis", sans-serif;

$player-image-size: 600px;
$carousel-height: 100%;
$carousel-width: 100%;

@font-face {
    font-family: 'Expansiva', sans-serif;
    src: url('https://fonts.cdnfonts.com/css/expansiva');
}
@font-face {
    font-family: "RigorMortis", sans-serif;
    src: url('https://fonts.cdnfonts.com/css/rigor-mortis');
}





