$color-primario:#2fac66;
$color-secundario: #FCEA10;
$color-Tercero:#1D1D1B;
$color-texto: white;

$fuente-normal: 1em;
$fuente-pequena: 0.8em;
$fuente-grande: 1.4em;

$tipografia-general: "Expansiva", sans-serif;
$tipografia-alternativa: "RigorMortis", sans-serif;

$player-image-size: 600px;


